// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$blue: #3398DC;
$grey: #888;

body {
  font-family: 'Courier New', Courier, monospace;
}

.container {
  width: 1100px;
  margin: 0 auto;
}
.letters {
  margin-bottom: 50px;

  ul {
    display: flex;
    justify-content: space-between;
    padding: 0;

    li {
      text-align: center;
      width: 70px;
      height: 70px;
      color: white;
      background-color: $blue;
      box-shadow: 1px 2px 10px rgba($color: #000000, $alpha: 0.2);
      list-style: none;
      line-height: 2.2;
      font-size: 2rem;
      font-weight: bold;
      border: 2px solid darken($color: $blue, $amount: 10)
    }
  }
}




form {
  width: 100%;

  input[type="text"] {
    border: thin solid $grey;
    padding: 15px 50px 15px 10px;
    width: 50%;
    border-radius: 5px;
}

  input[type="submit"] {
    padding: 15px 20px;
    margin-left: -78px;
    background: white;
    color: $grey;
    border: thin solid $grey;
    border-radius: 0 5px 5px 0 ;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5s;
    &:hover {
      background-color: $grey;
      color: white;
    }
  }
}
